[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-cors = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-login = "*"
sqlalchemy-serializer = "*"
requests = "*"
flask-restful = "*"
email-validator = "*"
gunicorn = "*"
honcho = "*"

[dev-packages]

[requires]
python_version = "3.10"
